# Copy this file to .conf and modify it if you need to execute the test suites to enable the testing database

# Testing database

TEST = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'test.db',
    }
}

# Directory Server

# Enable directory server test?

TEST_DIRECTORY_SERVER_ENABLE = False

# LDAP-settings for directory server test

TEST_DIRECTORY_SERVER = {

    # URL for the server

    "url": "",

    # Base DN

    "base_dn": "",

    # User DN to log in (if not set, no authentication will be tried)

    "user_dn": "",

    # Password to log in

    "password": "",

    # Query for mail address

    "query": "",

    # Address to search for (used as MAIL FROM-envelope)

    "address": "",

    # Field to include in test-disclaimer

    "field": "",

    # Value of that field in the directory server

    "value": ""

}

# Performance Measuring

# Enable the performance test?

TEST_PERFORMANCE_ENABLE = False

# Performance test configuration

TEST_PERFORMANCE = {

    # SMTP-Server

    "smtp_server": "",

    # Username for authentication (if empty, no authentication will be used)

    "username": "",

    # Password for authentication

    "password": "",

    # Mailblob (including headers) to use (Please not, that you need to use \r\n as line separators!)

    "message": "",

    # MAIL FROM envelope

    "sender": "",

    # RCPT TO envelope

    "recipient": "",

    # Number of sends

    "sends": 1000,

    # Test timeout. If the test lasts longer than this amount of seconds, it fails.

    "timeout": 0

}
